

<div class="container" th:fragment="form(dtoTipodeProcesso, action)">
  <div class="row">
    <form th:action="${action}" method="POST"
          th:object="${dtoTipodeProcesso}">
      <div class="mb-3">
        <label class="form-label">Tipo de processo</label>
        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nome}">
        <div class="invalid-feedback" th:errors="*{nome}"></div>
      </div>
      <button class="btn btn-primary" type="submit">Submeter</button>
      <a type="button" class="btn btn-outline-danger" href="/tipos">Voltar</a>
    </form>
  </div>
</div>