<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt">

<head th:replace="~{fragmentos :: head('Home')}"></head>
<body>
    <header th:replace="~{fragmentos :: header('Tipo de processo '+ ${processo.numero})}"></header>

    <main>
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <b>Numero: </b> <span th:text="${processo.numero}"></span><br/>
                    <b>Data: </b> <span th:text="${processo.data}"></span><br/>
                    <b>Valor do Recurso:  R$</b> <span th:text="${processo.valorRecurso}"></span><br/>
                    <b>Objetivo: </b> <span th:text="${processo.objetivo}"></span><br/>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a th:href="@{/processos/{processsoId}/edit(processoId = ${processo.numero})}">Editar</a> <a href="/processos">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>